/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}


.error {
  background-color: #ea382a;
  color: white;
  display: inline-block;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%)
}

.view {
  padding: 50px 20px;
  margin: 40px 400px;
  text-align: left;
}

input {
    margin: 10px 0;
    padding: 5px;
    width: 350px;
    display: inline-block;
    outline: none;
    margin-right: 10px;
    border: 1px solid #ddd;
    font-size: 12px;
}

.info {
  font-size: 13px;
  color: #555;
}

.dropdown {
  border: 1px solid #ddd;
  position: relative;
  top: -10px;
  width: 360px;
  font-size: 13px;

}

.dropdown > div {
  padding: 5px;

}

button {
  background-color: rgb(0, 137, 255);
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 3px;

  font-size: 12px;
  outline: none;
  border: 1px solid #ddd;
  margin: 10px 0;
}

#map {
  width: 450px;
}
